h2 {
  font-family: georgia, "times new roman";
  font-size: 1.4em;
  line-height: 1.2em;
}

p {
  font-family: georgia, "times new roman", "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: center;
}
.about {
  color: rgb(51, 51, 51);
  padding: 1em 1em 1em 1em;
}

.img-hide {
  display: none;
  padding: 0.25em;
}
.heroImg {
  padding: 0.25em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #48c6a2 99.97%),
    #20649b;
  border-radius: 0.5em;
}

.aboutText {
  padding: 1em;
  align-self: center;
}

@media (min-width: 52rem) {
  .img-hide {
    display: inline;
  }
  p {
    line-height: 26px;
  }
}
