.about {
  color: rgb(51, 51, 51);
  padding: 1em 1em 1em 1em;
}

.img-hide {
  display: none;
  padding: 0.25em;
}
.heroImg {
  padding: 0.25em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #48c6a2 99.97%),
    #20649b;
  border-radius: 1000px;
}

.aboutText {
  padding: 1em;
  align-self: center;
}

@media (min-width: 52rem) {
  .img-hide {
    display: inline;
  }
  p {
    line-height: 26px;
  }
}
