#footer {
  background: #29a9df;
  color: rgb(51, 51, 51);
  font-size: 1.5rem;
}

#logo {
  padding: 1em;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMedia a {
  padding-left: 2rem;
  padding-right: 2rem;
}

svg {
  width: 3rem;
  color: rgb(51, 51, 51);
}

.socialMedia a:hover {
  transform: scale(0.8);
}

.footerText {
  text-align: center;
  margin: 0;
  padding: 1em;
}
