.HeadContainer {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 99.98%),
    #f0eeec;
}
.titleLeft {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 99.98%),
    #f0eeec;
}
.titleLeft .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.titleLeft h1 {
  font-family: Moderne Sans, sans-serif;
  font-style: Normal;
  font-weight: 600;
  font-size: 4rem;
  margin: 0 auto;
  color: #161616;
}
.titleLeft h2 {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  font-family: Moderne Sans, sans-serif;
  font-style: Normal;
  font-size: 2rem;
  color: #161616;
}
.titleLeft #placeholder {
  height: 2em;
  display: flex;
}

@media (min-width: 62rem) {
  .titleCenter {
    width: 50vw;
  }
}
